<ion-content>
  <form [formGroup]="usuario" (ngSubmit)="guardarDatos()"></form>
  <form [formGroup]="usuario">
    <ion-item>
      <ion-label>Nombre:</ion-label>
      <ion-input formControlName="nombre"></ion-input>
    </ion-item>
    <ion-label color="danger" *ngIf="usuario.controls.nombre.errors?.['required'] && (usuario.touched || usuario.dirty)">* El nombre es obligatorio </ion-label>
    <ion-label color="danger" *ngIf="usuario.controls.nombre.errors?.['minlength'] && (usuario.touched || usuario.dirty)">* El nombre tiene que tener al menos 4 caracteres.</ion-label>
    <ion-item>
      <ion-label>Email:</ion-label>
      <ion-input formControlName="email"></ion-input>
    </ion-item>
    <ion-label color="danger" *ngIf="usuario.controls.email.errors?.['email'] && (usuario.touched || usuario.dirty)">* El email no es válido.</ion-label>
    <ion-item>
    <ion-label>Edad:</ion-label>
      <ion-input formControlName="edad"></ion-input>
    </ion-item>
    <ion-label color="danger" *ngIf="usuario.controls.edad.errors?.['min'] && (usuario.touched || usuario.dirty)">* La edad mínima es 18.</ion-label>
    <ion-item>
      <ion-checkbox slot="start" formControlName="aceptaTerminos"></ion-checkbox>
      <ion-label>Acepto los términos y condiciones</ion-label>
    </ion-item>
    <ion-label color="danger" *ngIf="usuario.controls.aceptaTerminos.errors?.['required'] && (usuario.touched || usuario.dirty)">
      * Debes aceptar los términos y condiciones.
    </ion-label>    
    <p class="ion-text-center">
      <ion-button type="submit" [disabled]="!usuario.valid">Guardar</ion-button>
    </p>  
 </form>
 <p class="ion-padding">{{ usuario.controls.nombre.value }}</p>
 <p class="ion-text-center">
   <ion-button (click)="cambiarNombre()">Cambiar nombre</ion-button>
 </p>
</ion-content>